body {
    margin: none;
    padding: none;
}
.bg-img{
    height:100vh ;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.timeline-slider{
    background-color: #a0145a;
    margin: 1em auto;
    border-radius: 10px;
    padding: 10px;
    border: solid transparent;

}

.timeline-slider:hover{
    background-color: #ff2599;
    border-style: solid;
    border-color: rgb(52, 197, 190); 
    box-shadow: 0px 0px 15px rgb(52, 197, 190); 
}

.volume-slider{
    background-color: #a0145a;
    border-radius: 10px;
    border: solid transparent;
}

.volume-slider:hover{
    background-color: #ff2599;
    border-style: solid;
    border-color: rgb(52, 197, 190); 
    box-shadow: 0px 0px 15px rgb(52, 197, 190);
}

.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-slider {
    position: relative;
    display: flex;
    user-select: none;
    outline: none;
    
}

.slider {
    width: 100%;
    
    
}

.reproductor {
    position: relative; 
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.reproductor-canciones ul {
    list-style-type: none;
    padding: 0;
}

.reproductor-canciones li {
    margin: 10px 0;
}

h5 {
    color: rgb(10, 223, 205) ;
}
.reproductor-canciones button {
    background-color: #a0145a; 
    color: rgb(10, 223, 205);
    padding: 5px;
    border-radius: 10px;
    width: 90%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-style: solid;
    border-color:  #a0145a; 
}

.reproductor-canciones button:hover {
    background-color: #ff2599;
    border-style: solid;
    border-color: rgb(52, 197, 190); 
    box-shadow: 0px 0px 15px rgb(52, 197, 190);  
}

.controls {
    margin-top: 20px;
}

.controls button {
    background-color: #a0145a;
    border: solid transparent;
    color: rgb(10, 223, 205);
    padding: 10px 20px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.3s ease;
}

.controls button:hover {
    transform: scale(1.2); 
    background-color: #ff2599;
    border-style: solid;
    border-color: rgb(52, 197, 190); 
    box-shadow: 0px 0px 15px rgb(52, 197, 190); 
}

.controls i {
    pointer-events: none;
}

