body {
    margin: none;
    padding: none;
}
.bg-img{
    height:100vh ;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.reproductor {
    position: relative; 
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Cursive', sans-serif;
    text-align: center;
}

.reproductor-canciones ul {
    list-style-type: none;
    padding: 0;
}

.reproductor-canciones li {
    margin: 10px 0;
}

.reproductor-canciones button {
    background-color: #a0145a; 
    border: none;
    color: rgb(10, 223, 205);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-style: solid;
    border-color:  #a0145a; 
}

.reproductor-canciones button:hover {
    background-color: #ff2599;
    border-style: solid;
    border-color: rgb(52, 197, 190); 
    box-shadow: 0px 0px 15px rgb(52, 197, 190);  
}

.controls {
    margin-top: 20px;
}

.controls button {
    background-color: #a0145a;
    border: none;
    color: rgb(10, 223, 205);
    padding: 10px 20px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.3s ease;
}

.controls button:hover {
    transform: scale(1.2); 
    background-color: #b3005f; 
}

.controls i {
    pointer-events: none;
}

